body{
    background-image: url("../images/retailersignup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width:100%;
}
.card-body{
    background-color:#162337;
    color:white;
}
.card-title  {
    font-size: 2.25rem;
}
.container-fluid{
    margin-top:8%;
}
